:root {
  --color-dark: #3f3127; /* #474F52*/
  --color-medium-bright: #9f8f83; /**/
  --color-bright: #d0e2e3; /* #C8D9B3*/
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
}

body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 80px;
  line-height: 0.5;
}

h2 {
  margin-bottom: 1rem;
}

header {
  background-color: var(--color-medium-bright);
  color: var(--color-dark);
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}
.statement {
  display: grid;
  grid-template-rows: 1fr auto;
}
.lorem {
  align-self: end;
  margin-bottom: 2rem;
}
.socialmedia {
  display: flex;
  align-items: center;
}
.socialmedia + .socialmedia {
  margin-left: 1rem;
}
.icon {
  border-right: 2px var(--color-dark) solid;
  border-bottom: 2px var(--color-dark) solid;
}

.socialmedia_name {
  padding-left: 0.5rem;
}
.image {
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
a {
  text-decoration: none;
  color: inherit;
}
.linksvertikal {
  background-color: var(--color-bright);
  color: var(--color-dark);
  border-right: 2px var(--color-dark) solid;
  position: relative;
}

.contact {
  padding-left: 3rem;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 3rem;
  line-height: 5;
}
.sign-wrapper {
  display: flex;
  transform: rotate(270deg);
  position: absolute;
  bottom: 13rem;
  left: -9.5rem;
}

.experience {
  background-color: var(--color-bright);
  color: var(--color-dark);
}
.education {
  background-color: var(--color-dark);
  color: var(--color-bright);
  border-left: 2px var(--color-bright) solid;
}
.statement,
.linksvertikal,
.experience,
.education {
  padding: 2rem;
}
.kompetenzen-wrapper,
.skills-ueberschrift {
  display: flex;
}

.skills + .skills {
  margin-left: 1.5rem;
}
.skills-ueberschrift h3 {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.lebenslauf-ueberschrift {
  margin-top: 2rem;
}
table {
  width: 100%;
}
.berufsbeschreibung {
  width: 75%;
}
td {
  height: 3rem;
}
li {
  height: 2rem;
}
.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 3.5rem;
}
